# Base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:password@localhost:5432/inmobiliaria_mza"

# NextAuth
NEXTAUTH_SECRET="genera-un-string-aleatorio-largo-aqui"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary (imágenes)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
